
* {
	padding: 0;
	margin: 0;
}

body	{
	background-color: #F5F4F4;
  font-family: 'Thasadith', sans-serif;
	font-size: 20px;
	color: black;
	line-height: 1.3;
	text-align: left;
  text-align: center;
}

nav {
	overflow: hidden;
  
}

nav a {
	float: right;
	font-size: 40px; 
  color: white;
  text-decoration: bold;
  text-align: right;
  padding: 30px 16px;
  text-decoration: none;
}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-size: 80px;
  text-decoration: bold;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 4px grey; 
  margin: 0 auto;
  padding-top: 8em;
  padding-bottom: 1.2em;
  width: 45%;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #82807F;
  margin: 0 auto;
  padding-top: 2.2em;
  padding-bottom: 1.2em;
  width: 45%;
}

h3 {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #82807F;
  margin: 0 auto;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: 60%;
}

p {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #82807F;
  margin: 0 auto;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

section {
	background-color:  #FFFFFF;
	padding: 20px;
} 

#header {
  background-image: url('Plenarsaal.jpg');
  min-height: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#logo {
  margin-left: 30px;
  padding-left: 15px;
  width: 10%; 
  float: left;
}

#stats	{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 60%;
  border-style: solid;
  border-color: white
 }
 
 .responsive_testimonials_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#germany_map	{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
}

#three_column {
	background-color: grey;
  padding: 20px;
  display: table;
  width: 100%;
}

#action {
	background-color: grey;
  border: 1px black solid;
  padding: 10px;
  background-color: white;
  border: 1px black solid;
  float: left;
  width: 30%;
  text-align: center; 
  margin: 10px;
  display: table-cell;
  font-family: 'Cambay' 700, sans-serif;
}

.responsive {
  width: 90%;
  height: auto;
}

.link_action {
	font-family: 'Special Elite', cursive;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
	color: red;
}

.clearfix:after {
	visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container {
  font-size: 50px;
}

#footer {
	background-color: black;
	border: 1px black solid;
	padding: 20px;
  margin-left: 10px;
  text-align: left;
  font-family: 'Cambay', sans-serif;
  color: red;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

  .fa-twitter {
  background: #55ACEE;
  color: white;
}